In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate

태양 복사 증가 → 적외선 복사 증가 → 기온 상승의 과정

In [2]:

df_1984 = pd.read_csv('solar_1984.csv')
df_1985 = pd.read_csv('solar_1985.csv')
df_1986 = pd.read_csv('solar_1986.csv')
df_1987 = pd.read_csv('solar_1987.csv')
df_1988 = pd.read_csv('solar_1988.csv')
df_1989 = pd.read_csv('solar_1989.csv')
df_1990 = pd.read_csv('solar_1990.csv')
df_1991 = pd.read_csv('solar_1991.csv')
df_1992 = pd.read_csv('solar_1992.csv')
df_1993 = pd.read_csv('solar_1993.csv')
df_1994 = pd.read_csv('solar_1994.csv')
df_1995 = pd.read_csv('solar_1995.csv')
df_1996 = pd.read_csv('solar_1996.csv')
df_1997 = pd.read_csv('solar_1997.csv')
df_1998 = pd.read_csv('solar_1998.csv')
df_1999 = pd.read_csv('solar_1999.csv')
df_2000 = pd.read_csv('solar_2000.csv')
df_2001 = pd.read_csv('solar_2001.csv')
df_2002 = pd.read_csv('solar_2002.csv')
df_2003 = pd.read_csv('solar_2003.csv')
df_2004 = pd.read_csv('solar_2004.csv')
df_2005 = pd.read_csv('solar_2005.csv')
df_2006 = pd.read_csv('solar_2006.csv')
df_2007 = pd.read_csv('solar_2007.csv')
df_2008 = pd.read_csv('solar_2008.csv')
df_2009 = pd.read_csv('solar_2009.csv')
df_2010 = pd.read_csv('solar_2010.csv')
df_2011 = pd.read_csv('solar_2011.csv')
df_2012 = pd.read_csv('solar_2012.csv')
df_2013 = pd.read_csv('solar_2013.csv')
df_2014 = pd.read_csv('solar_2014.csv')
df_2015 = pd.read_csv('solar_2015.csv')
df_2016 = pd.read_csv('solar_2016.csv')
df_2017 = pd.read_csv('solar_2017.csv')
df_2018 = pd.read_csv('solar_2018.csv')
df_2019 = pd.read_csv('solar_2019.csv')
df_2020 = pd.read_csv('solar_2020.csv')
df_2021 = pd.read_csv('solar_2021.csv')
df_2022 = pd.read_csv('solar_2022.csv')
df_2023 = pd.read_csv('solar_2023.csv')
df_2024 = pd.read_csv('solar_2024.csv')

In [3]:
df_2024

     year  month  day  radiation_short  radiation_long  temp
0    2024      1    1             2.59            6.40  1.86
1    2024      1    2             2.45            6.73  1.68
2    2024      1    3             2.05            6.57  0.20
3    2024      1    4             3.26            5.29 -0.58
4    2024      1    5             2.70            5.99  1.51
..    ...    ...  ...              ...             ...   ...
361  2024     12   27             2.58            5.27 -4.40
362  2024     12   28             2.65            4.99 -5.33
363  2024     12   29             2.59            5.49 -1.81
364  2024     12   30             1.73            6.98  1.76
365  2024     12   31             2.64            5.56 -0.71

[366 rows x 6 columns]

In [4]:
dfs = [df_1984, df_1985, df_1986, df_1987, df_1988, df_1989, df_1990, df_1991, df_1992, df_1993,
       df_1994, df_1995, df_1996, df_1997, df_1998, df_1999, df_2000, df_2001, df_2002, df_2003,
       df_2004, df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011, df_2012, df_2013,
       df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023, df_2024]

years = list(range(1984, 2025))

for i in range(len(dfs)):  
    dfs[i]['Date'] = pd.to_datetime(dfs[i][['year', 'month', 'day']])  # date time 이용해서 한컬럼으로 만들기 = Date
    dfs[i].set_index('Date', inplace=True)

In [5]:
df_1984

            year  month  day  radiation_short  radiation_long   temp
Date
1984-01-01  1984      1    1             2.98            5.00  -4.32
1984-01-02  1984      1    2             2.67            5.86  -1.83
1984-01-03  1984      1    3             2.14            6.09  -2.14
1984-01-04  1984      1    4             3.14            4.69  -7.25
1984-01-05  1984      1    5             3.22            4.67 -10.30
...          ...    ...  ...              ...             ...    ...
1984-12-27  1984     12   27             2.58            5.88  -6.78
1984-12-28  1984     12   28             1.86            5.62  -9.47
1984-12-29  1984     12   29             3.02            4.97 -11.49
1984-12-30  1984     12   30             2.62            5.19  -8.74
1984-12-31  1984     12   31             2.97            5.05  -5.47

[366 rows x 6 columns]

In [ ]:
save_path = r"C:\Users\KDP-48\Desktop\KDT_3\team6\예측분석석/"  

for i in range(len(dfs)):  
    file_name = f"{save_path}/analyze_radiation_{years[i]}.csv"  
    dfs[i].to_csv(file_name, index=True)